@keyframes header-bg {
  10% {
    background-image: url(../assets/床版工事work.jpg);
  }
  30% {
    background-image: url(../assets/床版工事2.jpg);
  }
  50% {
    background-image: url(../assets/鍛冶1.jpg);
  }
  70% {
    background-image: url(../assets/床版2.jpg);
  }
  100% {
    background-image: url(../assets/床版工事work.jpg);
  }
}
