@keyframes header-bg {
  10% {
    background-image: url(../assets/床版工事.jpg);
  }
  30% {
    background-image: url(../assets/床版工事2.jpg);
  }
  50% {
    background-image: url(../assets/鍛冶3.jpg);
  }
  70% {
    background-image: url(../assets/床板2.jpg);
  }
  100% {
    background-image: url(../assets/床版工事.jpg);
  }
}
