body {
  font-family: "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ W3", "メイリオ",
    "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding: 1rem 3rem;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3";
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 5rem 0;

  &--no-padding-bottom {
    padding: 5rem 0 0 0;
  }

  &--white {
    color: $color-white;
  }

  &--border {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 5rem 0;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-primary;
      display: block;
    }
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;

  &--white {
    color: $color-white;
  }
}

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  &--padding {
    padding: 1rem;
  }
  &--white {
    color: $color-white;
  }
}

.pg {
  font-size: 1.5rem;
  line-height: 3rem;
  @include respond(tab-port) {
    // line-height: 4rem;
  }

  &--white {
    color: $color-white;
  }
  &__change-button {
    float: left;
    transition: 0.2s;
    &:hover {
      color: $color-primary;
      transform: translateX(1rem);
      transition: 0.2s;
    }

    &:active {
      color: $color-primary;
      transform: translateX(0);
      transition: 0.2s;
    }
  }
}
