@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scale-animation {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1) translateY(-0.5rem);
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  &:active {
    transform: scale(1) translateY(0rem);
    transition: all 0.3s;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
