@charset "UTF-8";
@keyframes header-bg {
  10% {
    background-image: url(../assets/床版工事.jpg); }
  30% {
    background-image: url(../assets/床版工事2.jpg); }
  50% {
    background-image: url(../assets/鍛冶3.jpg); }
  70% {
    background-image: url(../assets/床板2.jpg); }
  100% {
    background-image: url(../assets/床版工事.jpg); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.header {
  height: 85vh;
  background-size: cover;
  background-position: top;
  animation: header-bg 20s ease-in-out infinite;
  backface-visibility: hidden;
  background-image: url(../assets/床版工事.jpg), url(../assets/床版工事2.jpg), url(../assets/床板2.jpg), url(../assets/鍛冶3.jpg); }
  .header--wrapper {
    height: 85vh;
    background-color: #747070;
    opacity: 0.5; }
