@charset "UTF-8";
@keyframes header-bg {
  10% {
    background-image: url(../assets/床版工事work.jpg); }
  30% {
    background-image: url(../assets/床版工事2.jpg); }
  50% {
    background-image: url(../assets/鍛冶3.jpg); }
  70% {
    background-image: url(../assets/床板2.jpg); }
  100% {
    background-image: url(../assets/床版工事work.jpg); } }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ W3", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #202020; }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 5rem 0; }
  .heading-secondary--white {
    color: #fff; }

.heading-secondary--border {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 5rem 0; }
  .heading-secondary--border::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #17afca;
    display: block; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem; }
  .heading-tertiary--white {
    color: #fff; }

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 3rem; }
  .heading-quaternary--padding {
    padding: 1rem; }

.pg {
  font-size: 1.5rem;
  line-height: 3rem; }
  .pg--white {
    color: #fff; }

.text-center {
  text-align: center; }

.padding {
  padding: 1rem; }
  .padding--large-bottom {
    padding-bottom: 10rem; }
  .padding--small-bottom {
    padding-bottom: 3rem; }

.work-photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s; }
  .work-photo:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    opacity: 0.7; }
  .work-photo:active {
    transform: scale(1);
    transition: all ease-in-out 0.3s; }
  .work-photo--1 {
    background-image: url(../assets/床版工事work.jpg); }
  .work-photo--2 {
    background-image: url(../assets/鉄骨工事work.jpg); }
  .work-photo--3 {
    background-image: url(../assets/鍛冶工事work.png); }
  .work-photo--4 {
    background-image: url(../assets/工場製作work.jpg); }
  .work-photo--5 {
    background-image: url(../assets/アンカーフレームwork.png); }
  .work-photo--6 {
    background-image: url(../assets/図面作成work.png); }
  .work-photo--7 {
    background-image: url(../assets/海外研修生work.jpg); }
  .work-photo--8 {
    background-image: url(../assets/ムーwork.jpg); }
    .work-photo--8:hover {
      transform: none;
      opacity: 1; }
  .work-photo--bg-black {
    background: rgba(32, 32, 32, 0.4);
    height: 25rem; }
  .work-photo__flex--center {
    display: flex;
    justify-content: center;
    align-items: center; }
  .work-photo__link:link, .work-photo__link:visited {
    color: #fff;
    text-decoration: none; }

.sns {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sns__logo--instagram {
    height: 5.2rem;
    margin: 0 1.5rem 3rem 0;
    transition: all 0.3s; }
    .sns__logo--instagram:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--instagram:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--line {
    height: 5rem;
    margin: 0 0 3rem 1.5rem;
    transition: all 0.3s; }
    .sns__logo--line:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--line:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--small-instagram {
    height: 3.2rem;
    margin: 0 1.5rem 3rem 0;
    transition: all 0.3s; }
    .sns__logo--small-instagram:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--small-instagram:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--small-line {
    height: 4rem;
    margin: 0 0 3rem 1.5rem;
    transition: all 0.3s; }
    .sns__logo--small-line:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--small-line:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }

.grey-box {
  width: 14rem;
  background-color: #ebebeb;
  margin: 0 5rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.info-wrapper {
  display: flex;
  flex-direction: row; }

.header {
  height: 85vh;
  background-size: cover;
  background-position: top;
  animation: header-bg 20s ease-in-out infinite;
  backface-visibility: hidden;
  background-image: url(../assets/床版工事work.jpg), url(../assets/床版工事2.jpg), url(../assets/床板2.jpg), url(../assets/鍛冶3.jpg); }
  .header__wrapper {
    height: 85vh;
    background-color: #747070;
    opacity: 0.5; }

.footer {
  background-color: #17afca;
  color: #fff; }
  .footer__list {
    list-style: none;
    padding: 5rem; }
  .footer__item {
    display: inline-block; }
  .footer__link {
    display: inline-block;
    transition: all 0.3s; }
    .footer__link:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .footer__link:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
    .footer__link:link, .footer__link:visited {
      color: #fff;
      text-decoration: none; }
    .footer__link--span {
      padding: 0 1rem; }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-1-of-4 {
  width: calc(100% / 4);
  height: 25rem;
  float: left;
  overflow: hidden; }

.copy-right {
  background-color: #202020;
  color: #fff;
  font-size: 0.5rem;
  padding: 1rem 0; }

.message {
  background-color: #17afca; }

.about {
  margin: 0 15rem; }
