@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* 1rem = 10px 16px/10px=62.5% */
html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes header-bg {
  10% {
    background-image: url(../assets/床版工事work.jpg); }
  30% {
    background-image: url(../assets/床版工事2.jpg); }
  50% {
    background-image: url(../assets/鍛冶3.jpg); }
  70% {
    background-image: url(../assets/床板2.jpg); }
  100% {
    background-image: url(../assets/床版工事work.jpg); } }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ W3", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #202020; }

.heading-primary {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding: 1rem 3rem;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3"; }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 5rem 0; }
  .heading-secondary--no-padding-bottom {
    padding: 5rem 0 0 0; }
  .heading-secondary--white {
    color: #fff; }
  .heading-secondary--border {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 5rem 0; }
    .heading-secondary--border::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #17afca;
      display: block; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem; }
  .heading-tertiary--white {
    color: #fff; }

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 3rem; }
  .heading-quaternary--padding {
    padding: 1rem; }
  .heading-quaternary--white {
    color: #fff; }

.pg {
  font-size: 1.5rem;
  line-height: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .pg {
      line-height: 3.5rem; } }
  .pg--white {
    color: #fff; }
  .pg__change-button {
    float: left;
    transition: 0.2s; }
    .pg__change-button:hover {
      color: #17afca;
      transform: translateX(1rem);
      transition: 0.2s; }
    .pg__change-button:active {
      color: #17afca;
      transform: translateX(0);
      transition: 0.2s; }

.text-center {
  text-align: center; }

@media only screen and (max-width: 37.5em) {
  .text-left--phone {
    text-align: left; } }

.disabled {
  pointer-events: none; }

.padding {
  padding: 1rem; }
  .padding--large-bottom {
    padding-bottom: 10rem; }
  .padding--medium-bottom {
    padding-bottom: 5rem; }
  .padding--small-bottom {
    padding-bottom: 3rem; }
  .padding--small-top {
    padding-top: 3rem; }
    @media only screen and (max-width: 75em) {
      .padding--small-top {
        padding-top: 5rem; } }

.border::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #17afca;
  display: block;
  margin: 0 0 5rem 0; }

.link:link, .link:visited {
  color: #202020;
  text-decoration: none; }

.work-photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  transition: all 0.3s; }
  .work-photo:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    opacity: 0.7; }
  .work-photo:active {
    transform: scale(1);
    transition: all ease-in-out 0.3s; }
  .work-photo--1 {
    background-image: url(../assets/床版工事work.jpg); }
  .work-photo--2 {
    background-image: url(../assets/鉄骨工事work.jpg); }
  .work-photo--3 {
    background-image: url(../assets/鍛冶工事work.png); }
  .work-photo--4 {
    background-image: url(../assets/工場製作work.jpg); }
  .work-photo--5 {
    background-image: url(../assets/アンカーフレームwork.png); }
  .work-photo--6 {
    background-image: url(../assets/図面作成work.png); }
  .work-photo--7 {
    background-image: url(../assets/海外研修生work.jpg); }
  .work-photo--8 {
    background-image: url(../assets/ムーwork.jpg); }
    .work-photo--8:hover {
      transform: none;
      opacity: 1; }
  .work-photo--bg-black {
    background: rgba(32, 32, 32, 0.4);
    height: 25rem; }
  .work-photo__flex--center {
    display: flex;
    justify-content: center;
    align-items: center; }
  .work-photo__link:link, .work-photo__link:visited {
    color: #fff;
    text-decoration: none; }

.sns {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sns__logo--instagram {
    height: 5.2rem;
    margin: 0 1.5rem 3rem 0;
    transition: all 0.3s; }
    .sns__logo--instagram:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--instagram:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--line {
    height: 5rem;
    margin: 0 0 3rem 1.5rem;
    transition: all 0.3s; }
    .sns__logo--line:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--line:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--small-instagram {
    height: 3.2rem;
    margin: 0 1.5rem 3rem 0;
    transition: all 0.3s; }
    .sns__logo--small-instagram:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--small-instagram:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
  .sns__logo--small-line {
    height: 4rem;
    margin: 0 0 3rem 1.5rem;
    transition: all 0.3s; }
    .sns__logo--small-line:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .sns__logo--small-line:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }

.grey-box {
  width: 15%;
  background-color: #ebebeb;
  margin: 0 5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .grey-box {
      width: 20%; } }

.info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0; }

.content-box {
  width: 70%; }

.works-slider {
  text-align: center;
  height: 40rem;
  display: inline-block;
  width: 100%; }
  .works-slider--1 {
    background-image: url(../assets/芝浦3丁目ホテル.JPG);
    background-size: cover;
    width: 30%;
    height: 100%;
    margin: 0 auto; }
  .works-slider--2 {
    background-image: url(../assets/東海市ルートイン.JPG);
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: 0 auto; }
  .works-slider--3 {
    background-image: url(../assets/敦賀市市営駐車場.JPG);
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: 0 auto; }
  .works-slider--4 {
    background-image: url(../assets/敦賀市配管屋工場.jpg);
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: 0 auto; }
  .works-slider--5 {
    background-image: url(../assets/福井県敦賀市倉庫.JPG);
    background-size: cover;
    width: 80%;
    height: 100%;
    margin: 0 auto; }
  .works-slider--6 {
    background-image: url(../assets/飛騨高山ホテル.JPG);
    background-size: cover;
    width: 40%;
    height: 100%;
    margin: 0 auto; }

.slick-dots {
  position: unset !important; }

.business-photo__img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto; }

.button__box {
  background-color: #17afca;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s; }
  .button__box:hover {
    transform: scale(1.1) translateY(-0.5rem);
    transition: all 0.3s;
    backface-visibility: hidden; }
  .button__box:active {
    transform: scale(1) translateY(0rem);
    transition: all 0.3s; }

.button__link {
  padding: 1.5rem 3rem; }
  .button__link:link, .button__link:visited {
    color: #fff;
    text-decoration: none; }

.button__position {
  display: flex;
  justify-content: center; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(235, 235, 235, 0.95);
  position: fixed;
  width: 100%;
  z-index: 1000; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      height: 100%;
      justify-content: center;
      transition: all 0.3s;
      align-items: unset; }
      .navigation--none {
        visibility: hidden;
        opacity: 0; }
      .navigation--show {
        visibility: visible;
        opacity: 1; } }
  .navigation__item {
    list-style: none;
    transition: all 0.3s;
    padding: 1rem 3rem;
    display: flex; }
    .navigation__item:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .navigation__item:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .navigation__item {
        padding: 1.5rem 0rem;
        flex-direction: column; } }
  .navigation__list {
    font-family: "游教科書体", "YuKyokasho";
    font-size: 2rem;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        flex-direction: column;
        justify-content: center;
        margin: 15rem 0 0 0; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__logo {
      display: none; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(32, 32, 32, 0.3);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  .navigation__icon {
    position: relative;
    margin-top: 3.3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #17afca;
      display: inline-block;
      transition: all 0.2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.menu {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .menu {
      display: block; } }

.header {
  height: 85vh;
  background-size: cover;
  background-position: top;
  animation: header-bg 20s ease-in-out infinite;
  backface-visibility: hidden;
  background-image: url(../assets/床版工事work.jpg), url(../assets/床版工事2.jpg), url(../assets/床板2.jpg), url(../assets/鍛冶3.jpg); }
  .header__wrapper {
    height: 85vh;
    background-color: #747070;
    opacity: 0.5; }

.footer {
  background-color: #17afca;
  color: #fff; }
  .footer__list {
    list-style: none;
    padding: 5rem; }
  .footer__item {
    display: inline-block; }
  .footer__link {
    display: inline-block;
    transition: all 0.3s; }
    .footer__link:hover {
      transform: scale(1.1) translateY(-0.5rem);
      transition: all 0.3s;
      backface-visibility: hidden; }
    .footer__link:active {
      transform: scale(1) translateY(0rem);
      transition: all 0.3s; }
    .footer__link:link, .footer__link:visited {
      color: #fff;
      text-decoration: none; }
    .footer__link--span {
      padding: 0 1rem; }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-1-of-4 {
  width: calc(100% / 4);
  height: 25rem;
  float: left;
  overflow: hidden; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  height: 25rem;
  float: left;
  overflow: hidden; }
  .col-1-of-2:not(:last-child) {
    margin-right: 6rem; }

.copy-right {
  background-color: #202020;
  color: #fff;
  font-size: 0.5rem;
  padding: 1rem 0; }

.message {
  background-color: #17afca; }
  @media only screen and (max-width: 37.5em) {
    .message {
      padding: 0 3rem; } }

.about,
.recruit,
.works,
.business {
  margin: 0 15rem; }
  @media only screen and (max-width: 37.5em) {
    .about,
    .recruit,
    .works,
    .business {
      padding: 0 3rem;
      margin: 0 0; } }
