.button {
  &__box {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    @include scale-animation;
  }

  &__link {
    padding: 1.5rem 3rem;
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__position {
    display: flex;
    justify-content: center;
  }
}
