@use "../abstracts/mixins";
@use "../abstracts/variables";

.button {
  &__box {
    background-color: variables.$color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    @include mixins.scale-animation;
  }

  &__link {
    padding: 1.5rem 3rem;
    &:link,
    &:visited {
      color: variables.$color-white;
      text-decoration: none;
    }
  }

  &__position {
    display: flex;
    justify-content: center;
  }
}
