@use "../abstracts/mixins";
@use "../abstracts/variables";

.grey-box {
  width: 15%;
  background-color: variables.$color-grey;
  margin: 0 5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.respond(phone) {
    width: 20%;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.content-box {
  width: 70%;
}
