@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer {
  background-color: variables.$color-primary;
  color: variables.$color-white;

  &__list {
    list-style: none;
    padding: 5rem;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    @include mixins.scale-animation;
    &:link,
    &:visited {
      color: variables.$color-white;
      text-decoration: none;
    }

    &--span {
      padding: 0 1rem;
    }
  }
}
